.contact-section {
  background-color: var(--light-color);
  padding-block: 2em;
}

.contact-section__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-section__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}

.contact-section__text {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 2em;
}

.contact-section__social-icons {
  color: var(--dark-color);
  display: flex;
  justify-content: center;
  gap: 2em;
}

.contact-section__icon {
  transition: transform 0.3s ease;
}

.contact-section__icon:hover {
  transform: scale(1.2);
}
