.footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1em;
  text-align: center;
}

.footer__text {
  margin: 0;
}

.footer__link {
  color: var(--accent-color-3);
  text-decoration: none;
  font-weight: 700;
}

.footer__link:hover {
  text-decoration: underline;
}
