.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.hero__main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.hero__name {
  font-weight: 700;
}

.hero__description {
  font-size: 1.25rem;
  padding-bottom: 1em;
}

.hero__highlight {
  color: var(--accent-color-2);
}

.hero__img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  min-width: 230px;
  object-fit: cover;
  object-position: 50% 40%;
  overflow: hidden;
}

.hero__down-arrow {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.hero h1 {
  font-size: 2rem;
  color: var(--accent-color-2);
  line-height: 1.3;
  padding-bottom: 0.8em;
  font-weight: 700;
}

.hero h1 span {
  display: block;
  position: relative;
}

.hero h1 span::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color-2-highlight);
  -webkit-box-shadow: 0 0 8px var(--accent-color-2-highlight);
  box-shadow: 0 0 8px var(--accent-color-2-highlight);
  height: 18px;
  left: 5px;
  bottom: 0;
  width: 180px;
  z-index: -1;
}

.hero p {
  font-size: 1.25rem;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  .hero__main-container {
    flex-direction: row;
    gap: 2em;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.5rem;
  }
}
