@import "../utils/variables";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;

  &__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }

  &__info {
  }

  &__name {
    font-weight: 700;
  }

  &__description {
    font-size: 1.25rem;
    padding-bottom: 1em;
  }

  &__highlight {
    color: $accent-color-2;
  }

  &__img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    min-width: 230px;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
  }

  &__down-arrow {
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
  }

  h1 {
    font-size: 2rem;
    color: $accent-color-2;
    line-height: 1.3;
    padding-bottom: 0.8em;
    font-weight: 700;

    span {
      display: block;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: $accent-color-2-highlight;
        -webkit-box-shadow: 0 0 8px $accent-color-2-highlight;
        box-shadow: 0 0 8px $accent-color-2-highlight;
        height: 18px;
        left: 5px;
        bottom: 0;
        width: 180px;
        z-index: -1;
      }
    }
  }

  p {
    font-size: 1.25rem;
    padding-bottom: 1em;
  }
}

@media (min-width: 768px) {
  .hero {
    &__main-container {
      flex-direction: row;
      gap: 2em;
    }

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
