.projects {
  padding-top: 1em;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    font-size: 1.1rem;
    color: rgba($dark-color, 0.7);
    margin-bottom: 0.5rem;
  }

  &__text {
    padding: 1em 0 0.5em 0;

    /* Default text for smaller screens (touch devices) */
    &::before {
      content: "click any project to learn more!";
    }

    @media (min-width: 768px) {
      /* Text for larger screens with hover (non-touch devices) */
      &::before {
        content: "hover over any project to learn more!";
      }
    }

    @media (pointer: coarse) and (max-width: 768px) {
      /* Text for touch devices below 768px */
      &::before {
        content: "click any project to learn more!";
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }

  &__item {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    width: 100%;
    height: 350px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__thumbnail-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease;
  }

  /* Overlay Styling */
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    opacity: 0; /* Hidden by default */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__overlay-content {
    position: relative;
    max-width: 90%;
  }

  &__overlay-title {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
  }

  &__overlay-description {
    font-size: 1em;
    margin-top: 10px;
    opacity: 0.8;
  }

  &__links {
    margin-top: 20px;
  }

  &__link {
    color: $accent-color-2;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.25rem;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  /* Tags styling */
  &__tags {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tag {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.9em;
  }

  /* Show overlay on hover or focus for large screens */
  @media (min-width: 768px) {
    .projects__item:hover .projects__overlay,
    .projects__item:focus-within .projects__overlay {
      opacity: 1;
      visibility: visible;
    }

    .projects__container {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* Show overlay on click for small screens */
  @media (max-width: 768px) {
    .projects__item .projects__overlay.projects__overlay--active {
      opacity: 1;
      visibility: visible;
    }
  }
}
