/* utils */
@import "./utils/_variables.css";
@import "./utils/_utils.css";
@import "./utils/_animations.css";

/* base */
@import "./base/_reset.css";
@import "./base/_base.css";

/* components */
@import "./components/_menu.css";
@import "./components/_hero.css";
@import "./components/_experience.css";
@import "./components/_projects.css";
@import "./components/_aboutme.css";
@import "./components/_toolkit.css";
@import "./components/_contact.css";
@import "./components/_footer.css";
