body {
  font-family: karla, sans-serif;
  color: var(--dark-color);
}

/* global text styling */

a {
  color: inherit;
}

h2 {
  color: var(--dark-color);
  position: relative;
  z-index: 2;
  font-size: 1.75rem;
  font-weight: 700;
  display: inline-block;
}

h2::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color-2-highlight);
  -webkit-box-shadow: 0 0 8px var(--accent-color-2-highlight);
  box-shadow: 0 0 8px var(--accent-color-2-highlight);
  height: 18px;
  left: 5px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
